* {
    padding:0px;
    margin:0px;
    background-color:#708090;
    color: white;
}
#header {
    margin:auto;
    width:500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;                   
}
ul, ol {
    list-style:none ;
}
.nav li a{
    background-color:none;
    width: 230px;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}
.nav li a:hover {
    background-color:rgb(54, 148, 177);

}
.nav > li {
    float: left;
}
.nav li ul {
    display:none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul {
    display: block;
}
.section {
    display: grid;
    grid-template-columns: 12fr 0.5fr;
    margin:20px;
    gap:20px;
    text-align: center;
}
.tarjetas {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
}
.principal {
    display: grid;
    grid-template-columns: 8fr 0.5fr;
    margin:10px;
    gap:20px;

}
.inicio {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 40px;
}
.introduccion{
    margin:15px;
    text-align: justify;
}
.proposito{
    margin:15px;
}
.contenido{
    margin:15px;
}
.CSS{
    margin:15px;
    text-align: justify;
}
.section_1 {
    display: grid;
    grid-template-columns: 12fr 0.5fr;
    margin:20px;
    gap:20px;
    text-align: center;
}
.temas {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
}
.frameworks{
    margin:15px;
    text-align: justify;
}
.recursos{
    margin:15px;
}
.carruselcss{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.carruselcss ul{
    list-style: none;
    margin:0;
    padding:0;
    max-width: 625px;
    scroll-behavior: smooth;
}
.carruselcss-fotos{
    display: flex;
    gap: 10px;
    overflow: auto;
}
.carruselcss-fotos img{
    border: 2px solid white;
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.carruselcss-menu{
    display: none;
}
@media screen and (min-width:500px){
    .carruselcss-fotos {
        overflow: hidden;
    }
    .carruselcss-menu{
        display: block;
    }
    .carruselcss-menu img{
        width: 50px;
        height: 40px;
        border: 3.5px solid white;
    }
    .carruselcss-menu img:hover{
        border:none;
    }
}  
.informacion{
    margin:15px;
    text-align: center;
} 
.Referencia{
    margin:15px;
    text-align: left;
} 
.timeline{
    margin:15px;
    text-align: center;
}
.footer{
   text-align: left;
}

